#app {
  display: block;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

#top {
  position: relative;
  z-index: 2;
  -webkit-flex-shrink: 0;
}
#prompt {
  padding: 1em 2em;
  position: relative;
  &.long {
    padding: 1em;
    h1 {
      font-size: 1.25em;
    }
  }
}

#input {
  padding: 1em 0;
  width: 100%;
  -webkit-transition: all .6s;
  -webkit-transform-origin: center top;
  visibility: hidden;
  &.is_visible {
    visibility: visible;
  }
}

#stats {
  width: 100%;
  height: 41px;
  display: none;
  padding: 10px 16px 0;
  .percentages {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .percentage {
    height: 16px;
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .percentage-yes {
    left: 0;
  }
  .percentage-no {
    right: 0;
  }
}

#list {
  -webkit-flex-grow: 1;
  width: 100%;
}

#history {
  margin-left: 1em;
  min-height: 100%;
}

