#app {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#prompt {
  -webkit-flex-shrink: 0;
  padding: 16px;
}

#input {
  -webkit-flex-shrink: 0;
}

#list {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-flex-grow: 1;
}

#input, #stats {
  padding: 1em;
  height: 104px;
}

#stats {
  display: none;
}

#history {
  margin-left: 1em;
}

