.install {
  padding: 16px 48px;
  h2 { margin: 0; }
  img {
    width: 60px;
  }
}
.scrollview-outer {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.scrollview-inner {
  height: 100%;
  overflow: visible;
}

.button {
  height: 72px;
  width: 72px;
  line-height: 68px;
  display: inline-block;
  margin: 0 24px;
}
.entry {
  display: table;
  width: 100%;
  padding: 1em 1em 1em 0;
}
.entry_date, .entry_answer {
  display: table-cell;
}
.entry_date {
  width: 80%;
}
.entry_answer {
  width: 20%;
  padding: 6px;
}


