$green: #4cd964;
$red: #ff3b30;
$blue: #32aadc;
$grey: #efeff4;
$dark_grey: #888888;
$white: #f8f8f8;
$black: #383838;

html, body {
  font-family: 'avenir', sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  background: black;
  color: white;
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
}

#prompt {
  border-bottom: 1px solid $black;
}

#input, #stats {
  border-bottom: 1px solid $black;
}

#history {
  background: url(bg.png);
}

#stats {
  .percentage-yes {
    background: $green;
    border-right: 1px solid black;
  }
  .percentage-no {
    background: $red;
  }
}

.button {
  cursor: pointer;
  border: 2px solid;
  border-radius: 50%;
  background-color: black;
}

.button-yes {
  border-color: $green;
  &:active {
    background-color: $green;
  }
}

.button-no {
  border-color: $red;
  &:active {
    background-color: $red;
  }
}

.entry {
  border-bottom: 1px solid $black;
  color: white;
  text-align: left;
  &:last-child {
    border-bottom: none;
  }
}

.entry_answer {
  text-align: center;
  border-radius: 6px;
}
.entry-0 {
  .entry_answer {
    &:before { content: 'No' }
    background: $red;
  }
}
.entry-1 {
  .entry_answer {
    &:before { content: 'Yes' }
    background: $green;
  }
}
