html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: center;
  -webkit-text-size-adjust: none; }

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none; }

#app {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
  overflow: hidden; }

#prompt {
  -webkit-flex-shrink: 0;
  padding: 16px; }

#input, #stats {
  -webkit-flex-shrink: 0; }

#list {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-flex-grow: 1;
  position: relative; }

#input, #stats {
  padding: 1em;
  height: 104px; }

#stats {
  display: none; }

#history {
  margin-left: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 101%; }

.card {
  height: 100%; }

.button {
  height: 72px;
  width: 72px;
  line-height: 68px;
  display: inline-block;
  margin: 0 24px; }

.entry {
  display: table;
  width: 100%;
  padding: 1em 1em 1em 0; }

.entry_date, .entry_answer {
  display: table-cell; }

.entry_date {
  width: 80%; }

.entry_answer {
  width: 20%;
  padding: 6px; }

html, body {
  font-family: 'avenir', sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  background: black;
  color: white;
  font-weight: 300; }

h1 {
  font-size: 1.5em;
  font-weight: 300; }

#prompt {
  border-bottom: 1px solid #383838; }

#input, #stats {
  border-bottom: 1px solid #383838; }

#history {
  background: url(bg.png); }

.button {
  cursor: pointer;
  border: 2px solid;
  border-radius: 50%;
  background-color: black; }

.button-yes {
  border-color: #4cd964; }
  .button-yes:active {
    background-color: #4cd964; }

.button-no {
  border-color: #ff3b30; }
  .button-no:active {
    background-color: #ff3b30; }

.entry {
  border-bottom: 1px solid #383838;
  color: white;
  text-align: left; }
  .entry:last-child {
    border-bottom: none; }

.entry_answer {
  text-align: center;
  border-radius: 6px; }

.entry-0 .entry_answer {
  background: #ff3b30; }
  .entry-0 .entry_answer:before {
    content: "No"; }

.entry-1 .entry_answer {
  background: #4cd964; }
  .entry-1 .entry_answer:before {
    content: "Yes"; }
