html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: center;
  -webkit-text-size-adjust: none; }

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none; }

#app {
  display: block;
  height: 100%;
  overflow: hidden; }

#top {
  position: relative;
  z-index: 2; }

#prompt {
  padding: 1em 2em;
  position: relative; }
  #prompt.long {
    padding: 1em; }
    #prompt.long h1 {
      font-size: 1.25em; }

#input {
  padding: 1em 0;
  width: 100%;
  -webkit-transition: all .6s;
  -webkit-transform-origin: center top;
  visibility: hidden; }
  #input.is_visible {
    visibility: visible; }

#stats {
  width: 100%;
  height: 40px;
  display: none;
  padding: 10px 16px 0; }
  #stats .percentages {
    position: relative;
    height: 100%;
    width: 100%; }
  #stats .percentage {
    height: 16px;
    position: absolute;
    top: 0;
    overflow: hidden; }
  #stats .percentage-yes {
    left: 0; }
  #stats .percentage-no {
    right: 0; }

#list {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1; }

#history {
  margin-left: 1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  padding-bottom: 2px; }

.card {
  height: 100%; }

.button {
  height: 72px;
  width: 72px;
  line-height: 68px;
  display: inline-block;
  margin: 0 24px; }

.entry {
  display: table;
  width: 100%;
  padding: 1em 1em 1em 0; }

.entry_date, .entry_answer {
  display: table-cell; }

.entry_date {
  width: 80%; }

.entry_answer {
  width: 20%;
  padding: 6px; }

html, body {
  font-family: 'avenir', sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  background: black;
  color: white;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 1.5em;
  font-weight: 300; }

#top {
  background: black; }

#prompt {
  position: relative; }
  #prompt:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: scaleY(0.5);
    border-top: 1px solid #383838;
    left: 0;
    bottom: 0; }

#input {
  background: #212121;
  position: relative; }
  #input:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    -webkit-transform: scaleY(0.5);
    border-top: 1px solid #383838;
    bottom: 0; }

#history {
  background: url(bg.png);
  background-size: 1px 63px; }

#stats .percentage {
  line-height: 18px;
  font-size: 10px; }
  #stats .percentage:after {
    content: attr(data-pct); }
#stats .percentage-yes {
  background: #4cd964; }
#stats .percentage-no {
  background: #ff3b30; }
#stats .percentages:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  -webkit-transform: scaleY(0.5);
  border-top: 1px solid #383838;
  bottom: 0; }

.button {
  cursor: pointer;
  border: 2px solid;
  border-radius: 50%;
  background-color: black; }

.button-yes {
  border-color: #4cd964; }
  .button-yes:active {
    background-color: #4cd964; }

.button-no {
  border-color: #ff3b30; }
  .button-no:active {
    background-color: #ff3b30; }

.entry {
  color: white;
  text-align: left;
  position: relative; }
  .entry:last-child {
    border-bottom: none; }
  .entry:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    border-bottom: 1px solid #212121;
    -webkit-transform: scaleY(0.5); }

.entry_answer {
  text-align: center;
  border-radius: 6px; }

.entry-0 .entry_answer {
  background: #ff3b30; }
  .entry-0 .entry_answer:before {
    content: "No"; }

.entry-1 .entry_answer {
  background: #4cd964; }
  .entry-1 .entry_answer:before {
    content: "Yes"; }
